*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
}
body{
    width: 100%;
    
}
.main{
   width: 100%;
   height: 100%;
   background: linear-gradient(45deg, rgb(17, 124, 65), rgb(135, 167, 19));
}
.header{
   
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
}

.header-container1{
   
    margin: 2px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.media{
     
    width:25%;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    align-items: center;
}
.media i{
      font-size: 23px;
      border-radius: 70%;
      color: rgb(240, 215, 215);
      transition: 0.3s linear
}
.media i:hover{
    transform: scale(2);
}
.contact{
  
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    color: rgb(214, 207, 207);
    padding: 15px;
    font-size: 18px;
    align-items: center;
}
.contact span{
    font-size: 18px;
    transition: 0.3s linear;
}
.contact span:hover{
    transform: scale(1.1);
}
.register{
  
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.register-btn{
    width: 35%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid transparent;
    font-size: 17px;
    background: linear-gradient(45deg, rgb(24, 80, 163), rgb(2, 11, 15));
    transition: 0.3s linear;
}
.register-btn:hover{
    transform: scale(1.3);
}
.header-container2{
   
        margin: 2px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 45px;
        align-items: center;
}
/* .logo{
    border: 2px solid black;
} */
.nav{
    margin: 2px;
    height: 30px;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav a{
     font-size: 18px;
     text-decoration: none;
     color: white;
     font-weight: 600;
     transition: 0.3s linear;
     
}
.nav a:hover{
    transform: scale(1.3);
    color: blue;
}
.search{
   
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    align-items: center;
}
.search input{
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid transparent;
    padding-left: 15px;
    font-weight: 400;
}
.search i{
    font-size: 20px;
    border: 2px solid transparent;
    color: white;
}
.search i:hover{
    transform: scale(1.5);
 }
.content{
    height: 76vh;
    width: 100%;
}   

.about{
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
    position: relative;
}
.line{
    margin: 10px 0px;
    width: 7px;
    background: linear-gradient(45deg, rgb(40, 58, 198), rgb(56, 109, 31));
    border-radius: 5px;
    position: absolute;
    left: 200px;
    height: 40%;
}
.about-content{
   
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    line-height: 40px;
    width: 40%;
    position: absolute;
    left: 220px;
}
.about-content h4{
       font-size: 35px;
       font-weight: 800;
       color: rgb(192, 184, 184);
       margin-bottom: 10px;
}   
.about-content h1{
    font-size: 45px;
    font-weight: 800;
    color: rgb(190, 182, 182);
    margin: 8px;
}  
.about-content p{
    font-size: 20px;
    font-weight: 400;
    color: rgb(61, 169, 132);
    margin: 8px;
    line-height: 24px;
}    
.about-button{
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      height: 60%;
      padding: 5px;
      
}
.about-button button{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid transparent;
    background: linear-gradient(45deg, rgb(14, 38, 74), rgb(1, 12, 1));
    transition: 0.3s linear;
}
.about-button button:hover{
    transform: scale(1.2);
    font-weight: 800;
    padding: 6px;
}
.work{
    width: 100%;
    display: flex;
    margin: 5px;

}

.work-section{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.work-section1{
    border: 2px solid blue;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   

}
.icon{
  
   display: flex;    
   justify-content: space-around;     
}
.icon h3{
    font-size: 18px;
}
.work-section1 p{
    margin-left: 10px;
    font-size: 15px;
    font-weight: 450;
}
.about-us{
   
    width: 100%;
    height: 80%;
}
.about-us-content{
    border: 2px solid red;
    margin: 2px;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-us-content-para{
    background-color: #d70d0d;
    margin: 10px;
    width: 50%;
    height: 70%;
}
.about-us-content-para h1{
   margin: 15px 15px 0px 15px;
   font-size: 30px;
   font-weight: 800;
}
.about-us-content-para .para{
  margin: 10px;
  font-weight: 450;
}
.about-us-content-para h3{
    margin: 12px;
    font-size: 20px;
    font-weight: 800;
}
.about-us-content-para .hori-line{
    width: 105px;
    height: 5px;
    background-color: black;
    margin-left: 15px;
    border-radius: 5px;
 }
 .about-us-content-btn{
    margin-top: 5px;
    width: 130px;
    height: 33px;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: red;
    font-size: 18px;
    font-weight: 700;
 }
 .services{
    border: 2px solid black;
    margin: 10px;
    width: 100%;
   
}
.pre-container{
    border: 2px solid blue;
    width: 100%;
    
}
.services-heading{
    border: 2px solid red;
    width: 50%;
    height: 60px;
    padding: 10px;
    margin: 2px;
}
.hori-line{
    width: 40px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
}
.services-container{
    border: 2px solid rgb(161, 5, 5);
    margin: 2px;
    width: 100%;
    height: 100%;
    display: flex;
}
.services-container1{
    border: 2px solid black;
    margin: 2px;
    width: 25%;
    height: 250px;
}